argparse
beautifulsoup4
beautifulsoup4==4.12.3
beautifulsoup4>=4.8.0
censys
certifi>=2017.4.17
charset_normalizer~=2.0.0
colorama>=0.4.4
defusedxml>=0.7.0
dnspython
future
Jinja2>=3.0.0
jsbeautifier
lxml
markupsafe>=2.0.0
mysql-connector-python>=8.0.20
ntlm_auth>=1.5.0
openpyxl
pikepdf
prompt-toolkit
psycopg[binary]>=3.0
pydig
pyopenssl>=21.0.0
pyparsing>=2.4.7
PySocks>=1.7.1
python-docx
python-pptx
pyvis
PyYAML
requests
requests 
requests>=2.27.0
requests==2.31.0
requests_file
requests_ntlm>=1.1.0
requests-toolbelt>=1.0.0
urllib3
yagooglesearch==1.10.0
yq
